@import '//fonts.googleapis.com/css?family=Lato';
 *, *:before, *:after {
	 box-sizing: border-box;
}


.center {
    display: flex;
    justify-content: center;
}
 .page {
     margin-top: 8rem;
	 height: 100%;
	 width: 45%;
	 padding: 2rem;
	 display: inline-block;
     vertical-align: top;
     flex:none;
}
 .question {
	 width: 100%;
	 font-size: 4em;
	 text-align: center;
	 margin-bottom: 1rem;
}
 
 .father_flex {
	 width: 20rem;
    
     display: flex;
     justify-content: space-between center;
}
 .son_flex {
     margin-top: 3rem;
     margin-right: 2rem;
	 display: inline-block;
	 line-height: 3em;
	 text-align: center;
	 background: rgb(211, 167, 103);
	 border-radius: 2rem;
	 color: #fff;
	 transition: 0.2s;
     cursor: pointer;
     flex: none;
     width: 80%;
}

.left_space {
    margin-left: 6rem;
}

.right_answer {
    background: rgb(0, 104, 69);
}

.wrong_answer {
    background: rgb(207, 9, 33);
}

